header {
    position: relative;
    padding: 1rem;
    align-items: center;
    justify-content: flex-end;
}

html {
    scroll-behavior: smooth;
}

body {
    background: lightblue
}

a {
    text-decoration: none;
    position: relative;

}

.link__hover-effect:after {
    content: "";
    position: absolute;
    height: 3px;
    width: 0;
    bottom: -3px;
    right: 0;
    transition: all 300ms ease;
}

.link__hover-effects--white:after {
    background-color: #ffff;
}

.link__hover-effects--black:after {
    background-color: black;
}

.link__hover-effect:hover:after {
    width: 100%;
    left: 0;
}

li {
    list-style-type: none;
    font-size: 16px;
}

.flex {
    display: flex;
}

.flex-1 {
 flex: 1;
}

.container {
    padding: 50px 0;
    background: lightblue
}

/* NAVIGATION */

nav {
    height: 100px;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 0 12px;
}

.top__logo {
    position: absolute;
    left: 20px;
    width: 50px;
    height: 50px;
}

.nav__link--list {
    display: flex;
    flex-direction: row;

}

.nav__link--anchor {
    margin: 0 12px;
    color: #000;
    font-weight: bold;
}

.nav__link--anchor-primary {
    background-color: #da20c1;
    padding: 3px 3px ;
    border-radius: 50px;
    color: white;
    transition: all 300ms ease;
}

.nav__link--anchor-primary:hover {
    background-color: rgb(212, 130, 182);
}

.personal__logo {
    font-size: 24px;
    color: #da20c1;
    padding: 0 10px;
    margin-top: 10px;
    margin-left: 0px;
    text-align: center;
    font-weight: bold;
    background-color: lightblue;
    border-radius: 20px;
}

h1 {
    text-align: center;
    font-size: 24px;
    color: #000000;
}

.cakes {
    display: flex;
    justify-content: center;
    align-items: center;
}